@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,500;1,100;1,300;1,500&family=Open+Sans:wght@400;600;700&family=Poppins:wght@200;300;400;500;600;700&family=Raleway:ital,wght@0,100;0,300;1,100&family=Roboto:wght@300;400;700&display=swap');
* { 
  margin : 0;
  padding:0;
  border:0;
  outline:0;
  box-sizing: border-box;
  list-style:none;
}

:root {
  --color-letter:#AEB6BF;
  --color-bg: #000005;
  --color-bg-varient:#2c2c6c;
  --color-primary:#4db5ff;
  --color-primary-varient:rgba(77, 181, 255, 0.4);
  --color-blue:rgb(135, 207, 254 );
  --color-light:rgb(255, 255, 255);
  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
  --transition: all 400ms ease;

}

html {
  scroll-behavior:smooth;
}
::-webkit-srollbar { 
  display:none;
}

body {

  font-family: 'Poppins', sans-serif;
  background: var(--color-bg);
  color: var(--color-blue);
  line-height:1.7;
  background-image: url('../src/assets/background.jpg')

}

.container{
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
} 
h1 {
  font-size: 2.5rem;
}
section {
  margin-top:8rem;
  
}
section > h2, section > h5 {
  text-align : center;
  color: var(--color-light);
}
section > h2 {
  color : var(--color-primary);
  margin-bottom: 3rem;
}
.text-light {
  color: var(--color-light);
}
a{
  text-decoration: none;
  color: var(--color-primary);
  transition: var(--transition);
}
a:hover {
  color: var(--color-white);
} 

.btn {
  width: max-content;
  display: inline-block;
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor:pointer;
  border:1px solid var(--color-primary);
  transition: var(--transition);

}

.btn:hover {
  background: var(--color-blue);
  color: var(--color-bg);
  border-color: transparent;
}

.btn-prymary{
  background: var(--color-primary);
  color: var(--color-bg);

}

img {
  display:block;
  width:100%;
  height: 80%;
 object-fit: cover; 
}


@media screen and ( max-width:1024px){
  .container { 
    width: var(--container-width-md);
  }
  
}

@media screen and ( max-width:600px){
  .container { 
    width: var(--container-width-sm);
  }

  section > h2 {
    margin-bottom: 2rem;
  }
  
}


